@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

.custom-button {
    background: rgb(255, 238, 0);
    color: white;
    padding: 25px 50px;  /* Adjust padding to make the button bigger */
    text-align: center;
    font-family: "Inconsolata", monospace;
    border-radius: 50px;  /* This makes the button an oval */
    cursor: pointer;
    font-size: 1.5em; /* Slightly larger text */
    transition: transform 0.2s ease-in-out;
    margin: 0;
    display: flex;
    position: relative;
    transition: .2s transform ease-in-out;

  
  }  
  .custom-button:hover {
    background-color: white;
  
  }
  
  .custom-button:active {
    background-color: white;
    color: black;
    transform: scale(0.95); /* Slight shrink effect when clicked */
  }

  