@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  overflow: hidden;
}

.animation-typing {
  font-family: "Inconsolata", monospace;
  text-align: center;
  border: 3px solid rgb(255, 255, 255); /* Ensures the border is visible */
  color: rgb(255, 255, 255); /* White text for visibility */
  padding: 15px; /* Padding for spacing */
  font-size: 4rem;
}
